<nav ng-controller="NavbarController as nav" class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
            <span class=""></span> CASE-V
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ><a ng-href="#">Homepage</a></li>
        <li "><a ng-href="#/projects">Projects</a></li>
        <li "><a ng-href="#/labs">Labs</a></li>
        <li "><a ng-href="#/admin">Admin</a></li>
        <li "><a ng-href="#" ng-click="nav.logout()">Logout</a></li>
      
      </ul>
        
    </div>
  </div>
</nav>
